<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />
    <add name="ExternalMasterSource" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />
    <add name="MasterRefresh.CUSTODY_MASTER" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />
  </connectionStrings>
  <appSettings>
    <add key="Integration.CommandTimeoutSeconds" value="120" />
    <add key="Integration.TargetConnectionStringName" value="OracleDb" />
    <add key="Integration.SourceConnectionPrefix" value="MasterRefresh" />
    <add key="Integration.DefaultSourceConnectionStringName" value="ExternalMasterSource" />
  </appSettings>
</configuration>
