<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!-- Replace with the real Oracle service, user and password before using database endpoints. -->
    <add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME = HDFCPDFMAP)));User ID=system;Password=sys123;" />
    <add name="ExternalMasterSource" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />
    <add name="MasterRefresh.CUSTODY_MASTER" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />
	 <add name="CUSTODY_MASTER" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.201)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HDFCPDFMAP)));User ID=system;Password=sys123;" />


  </connectionStrings>
  <appSettings>
    <add key="JwtIssuer" value="HDFC.PDFCoordinateMapper" />
    <add key="JwtAudience" value="HDFC.PDFCoordinateMapper.Client" />
    <!-- Use a secret of at least 32 random characters outside source control in production. -->
    <add key="JwtSecret" value="CHANGE_THIS_DEVELOPMENT_SECRET_32_CHARS" />
    <add key="JwtExpiryMinutes" value="60" />
    <add key="EncryptionKey" value="CHANGE_THIS_32_CHARACTER_KEY_1234" />
    <add key="LogPath" value="App_Data\Logs" />
    <add key="UploadPath" value="App_Data\Uploads" />
    <add key="AllowedCorsOrigins" value="http://localhost:4200,http://127.0.0.1:4200,http://localhost:4201,http://127.0.0.1:4201" />
    <!-- Set true outside local Swagger testing to enforce [ConfigurableAuthorize]. -->
    <add key="EnableJwtAuthorization" value="false" />
    <add key="SpValidateUser" value="PKG_PDF_COORDINATE.SP_VALIDATE_USER" />
    <add key="SpGetCoordinates" value="PKG_PDF_COORDINATE.SP_GET_COORDINATES" />
    <add key="SpSaveCoordinate" value="PKG_PDF_COORDINATE.SP_SAVE_COORDINATE" />
    <add key="Integration.CommandTimeoutSeconds" value="120" />
    <add key="Integration.TargetConnectionStringName" value="OracleDb" />
    <add key="Integration.SourceConnectionPrefix" value="MasterRefresh" />
    <add key="Integration.DefaultSourceConnectionStringName" value="ExternalMasterSource" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly><assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" /></dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
