USE [AgenticAISystem]
GO
/****** Object:  Table [dbo].[ADM_COMMON_APPROVAL_MASTER]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER](
	[ApprovalId] [bigint] IDENTITY(1,1) NOT NULL,
	[MasterName] [nvarchar](150) NOT NULL,
	[AppTableName] [nvarchar](150) NOT NULL,
	[AppAutoId] [bigint] NOT NULL,
	[MasterAutoId] [bigint] NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[MakerUserId] [nvarchar](100) NOT NULL,
	[MakerDate] [datetime2](0) NOT NULL,
	[CheckerUserId] [nvarchar](100) NULL,
	[CheckerDate] [datetime2](0) NULL,
	[ReferenceText] [nvarchar](300) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[CorrelationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADM_COMMON_APPROVAL_MASTER] PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_COMMON_APPROVAL_MASTER_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[ApprovalId] [bigint] NOT NULL,
	[MasterName] [nvarchar](150) NOT NULL,
	[AppTableName] [nvarchar](150) NOT NULL,
	[AppAutoId] [bigint] NOT NULL,
	[MasterAutoId] [bigint] NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[MakerUserId] [nvarchar](100) NOT NULL,
	[MakerDate] [datetime2](0) NOT NULL,
	[CheckerUserId] [nvarchar](100) NULL,
	[CheckerDate] [datetime2](0) NULL,
	[ReferenceText] [nvarchar](300) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
	[CorrelationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADM_COMMON_APPROVAL_MASTER_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MENU_MASTER]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MENU_MASTER](
	[AutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[ModuleId] [bigint] NOT NULL,
	[ParentId] [bigint] NULL,
	[MenuCode] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](200) NOT NULL,
	[Route] [nvarchar](300) NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_MENU_MASTER] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MENU_MASTER_APP]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MENU_MASTER_APP](
	[AppAutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[AutoId] [bigint] NULL,
	[ModuleId] [bigint] NOT NULL,
	[ParentId] [bigint] NULL,
	[MenuCode] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](200) NOT NULL,
	[Route] [nvarchar](300) NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_MENU_MASTER_APP] PRIMARY KEY CLUSTERED 
(
	[AppAutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MENU_MASTER_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MENU_MASTER_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AppAutoId] [bigint] NULL,
	[AutoId] [bigint] NULL,
	[ModuleId] [bigint] NOT NULL,
	[ParentId] [bigint] NULL,
	[MenuCode] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](200) NOT NULL,
	[Route] [nvarchar](300) NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ADM_MENU_MASTER_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MODULE_MASTER]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MODULE_MASTER](
	[AutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[ModuleCode] [nvarchar](100) NOT NULL,
	[ModuleName] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_MODULE_MASTER] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MODULE_MASTER_APP]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MODULE_MASTER_APP](
	[AppAutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[AutoId] [bigint] NULL,
	[ModuleCode] [nvarchar](100) NOT NULL,
	[ModuleName] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_MODULE_MASTER_APP] PRIMARY KEY CLUSTERED 
(
	[AppAutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_MODULE_MASTER_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_MODULE_MASTER_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AppAutoId] [bigint] NULL,
	[AutoId] [bigint] NULL,
	[ModuleCode] [nvarchar](100) NOT NULL,
	[ModuleName] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ADM_MODULE_MASTER_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MASTER]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MASTER](
	[AutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](100) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_ROLE_MASTER] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MASTER_APP]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MASTER_APP](
	[AppAutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[AutoId] [bigint] NULL,
	[RoleCode] [nvarchar](100) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_ROLE_MASTER_APP] PRIMARY KEY CLUSTERED 
(
	[AppAutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MASTER_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MASTER_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AppAutoId] [bigint] NULL,
	[AutoId] [bigint] NULL,
	[RoleCode] [nvarchar](100) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ADM_ROLE_MASTER_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MENU_ACCESS]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MENU_ACCESS](
	[AutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_ROLE_MENU_ACCESS] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MENU_ACCESS_APP]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MENU_ACCESS_APP](
	[AppAutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[AutoId] [bigint] NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_ROLE_MENU_ACCESS_APP] PRIMARY KEY CLUSTERED 
(
	[AppAutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_ROLE_MENU_ACCESS_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_ROLE_MENU_ACCESS_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AppAutoId] [bigint] NULL,
	[AutoId] [bigint] NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ADM_ROLE_MENU_ACCESS_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_USER_MASTER]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_USER_MASTER](
	[AutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[RoleId] [bigint] NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_USER_MASTER] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_USER_MASTER_APP]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_USER_MASTER_APP](
	[AppAutoId] [bigint] IDENTITY(1,1) NOT NULL,
	[AutoId] [bigint] NULL,
	[UserCode] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[RoleId] [bigint] NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ADM_USER_MASTER_APP] PRIMARY KEY CLUSTERED 
(
	[AppAutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADM_USER_MASTER_LOG]    Script Date: 8/03/2026 16:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_USER_MASTER_LOG](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AppAutoId] [bigint] NULL,
	[AutoId] [bigint] NULL,
	[UserCode] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[RoleId] [bigint] NULL,
	[Active] [char](1) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[Remark] [nvarchar](1000) NULL,
	[ActionRemark] [nvarchar](1000) NULL,
	[LogAction] [nvarchar](20) NOT NULL,
	[LogDate] [datetime2](0) NOT NULL,
	[LogBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ADM_USER_MASTER_LOG] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADM_MENU_MASTER] ON 

INSERT [dbo].[ADM_MENU_MASTER] ([AutoId], [ModuleId], [ParentId], [MenuCode], [Caption], [Route], [Icon], [DisplayOrder], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (1, 1, NULL, N'DASHBOARD', N'Dashboard', N'/dashboard', N'dashboard', 1, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_MENU_MASTER] ([AutoId], [ModuleId], [ParentId], [MenuCode], [Caption], [Route], [Icon], [DisplayOrder], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (2, 1, NULL, N'ONBOARDING', N'Project Onboarding', N'/onboarding', N'rocket_launch', 2, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_MENU_MASTER] ([AutoId], [ModuleId], [ParentId], [MenuCode], [Caption], [Route], [Icon], [DisplayOrder], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (3, 1, NULL, N'REQUIREMENTS', N'Requirements', N'/requirements', N'assignment', 3, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADM_MENU_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[ADM_MODULE_MASTER] ON 

INSERT [dbo].[ADM_MODULE_MASTER] ([AutoId], [ModuleCode], [ModuleName], [Icon], [DisplayOrder], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (1, N'AGENTIC_PLATFORM', N'Agentic AI Platform', N'hub', 1, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADM_MODULE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[ADM_ROLE_MASTER] ON 

INSERT [dbo].[ADM_ROLE_MASTER] ([AutoId], [RoleCode], [RoleName], [Description], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (1, N'ADMINISTRATOR', N'Administrator', N'Full platform administrator', N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_ROLE_MASTER] ([AutoId], [RoleCode], [RoleName], [Description], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (2, N'PROJECT_MAKER', N'Project Maker', N'Can submit project onboarding and requirement changes for checker approval', N'Y', N'APPROVED', N'super.admin', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_ROLE_MASTER] ([AutoId], [RoleCode], [RoleName], [Description], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (3, N'PROJECT_CHECKER', N'Project Checker', N'Can review maker submissions through common approval', N'Y', N'APPROVED', N'super.admin', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADM_ROLE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[ADM_ROLE_MENU_ACCESS] ON 

INSERT [dbo].[ADM_ROLE_MENU_ACCESS] ([AutoId], [RoleId], [MenuId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (1, 1, 1, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_ROLE_MENU_ACCESS] ([AutoId], [RoleId], [MenuId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (2, 1, 2, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_ROLE_MENU_ACCESS] ([AutoId], [RoleId], [MenuId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (3, 1, 3, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADM_ROLE_MENU_ACCESS] OFF
GO
SET IDENTITY_INSERT [dbo].[ADM_USER_MASTER] ON 

INSERT [dbo].[ADM_USER_MASTER] ([AutoId], [UserCode], [UserName], [Email], [RoleId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (1, N'super.admin', N'Super Admin', N'super.admin@local.agentic', 1, N'Y', N'APPROVED', N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T08:13:28.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_USER_MASTER] ([AutoId], [UserCode], [UserName], [Email], [RoleId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (2, N'sampleprojectfromagenticai.maker', N'SampleProjectFromAgenticAI Maker', N'sampleprojectfromagenticai.maker@local.agentic', 2, N'Y', N'APPROVED', N'super.admin', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ADM_USER_MASTER] ([AutoId], [UserCode], [UserName], [Email], [RoleId], [Active], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ApprovedBy], [ApprovedDate], [Remark], [ActionRemark]) VALUES (3, N'sampleprojectfromagenticai.checker', N'SampleProjectFromAgenticAI Checker', N'sampleprojectfromagenticai.checker@local.agentic', 3, N'Y', N'APPROVED', N'super.admin', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL, N'SYSTEM', CAST(N'2026-08-03T10:34:14.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADM_USER_MASTER] OFF
GO
ALTER TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER] ADD  CONSTRAINT [DF_ADM_COMMON_APPROVAL_MASTER_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER] ADD  CONSTRAINT [DF_ADM_COMMON_APPROVAL_MASTER_MakerDate]  DEFAULT (sysutcdatetime()) FOR [MakerDate]
GO
ALTER TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER] ADD  CONSTRAINT [DF_ADM_COMMON_APPROVAL_MASTER_CorrelationId]  DEFAULT (newid()) FOR [CorrelationId]
GO
ALTER TABLE [dbo].[ADM_COMMON_APPROVAL_MASTER_LOG] ADD  CONSTRAINT [DF_ADM_COMMON_APPROVAL_MASTER_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_Active]  DEFAULT ('Y') FOR [Active]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_Status]  DEFAULT ('APPROVED') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER_APP] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_APP_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_MENU_MASTER_LOG] ADD  CONSTRAINT [DF_ADM_MENU_MASTER_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_Active]  DEFAULT ('Y') FOR [Active]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_Status]  DEFAULT ('APPROVED') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER_APP] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_APP_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_MODULE_MASTER_LOG] ADD  CONSTRAINT [DF_ADM_MODULE_MASTER_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MASTER] ADD  CONSTRAINT [DF_ADM_ROLE_MASTER_Active]  DEFAULT ('Y') FOR [Active]
GO
ALTER TABLE [dbo].[ADM_ROLE_MASTER] ADD  CONSTRAINT [DF_ADM_ROLE_MASTER_Status]  DEFAULT ('APPROVED') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_ROLE_MASTER] ADD  CONSTRAINT [DF_ADM_ROLE_MASTER_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MASTER_APP] ADD  CONSTRAINT [DF_ADM_ROLE_MASTER_APP_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MASTER_LOG] ADD  CONSTRAINT [DF_ADM_ROLE_MASTER_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MENU_ACCESS] ADD  CONSTRAINT [DF_ADM_ROLE_MENU_ACCESS_Active]  DEFAULT ('Y') FOR [Active]
GO
ALTER TABLE [dbo].[ADM_ROLE_MENU_ACCESS] ADD  CONSTRAINT [DF_ADM_ROLE_MENU_ACCESS_Status]  DEFAULT ('APPROVED') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_ROLE_MENU_ACCESS] ADD  CONSTRAINT [DF_ADM_ROLE_MENU_ACCESS_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MENU_ACCESS_APP] ADD  CONSTRAINT [DF_ADM_ROLE_MENU_ACCESS_APP_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_ROLE_MENU_ACCESS_LOG] ADD  CONSTRAINT [DF_ADM_ROLE_MENU_ACCESS_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ADM_USER_MASTER] ADD  CONSTRAINT [DF_ADM_USER_MASTER_Active]  DEFAULT ('Y') FOR [Active]
GO
ALTER TABLE [dbo].[ADM_USER_MASTER] ADD  CONSTRAINT [DF_ADM_USER_MASTER_Status]  DEFAULT ('APPROVED') FOR [Status]
GO
ALTER TABLE [dbo].[ADM_USER_MASTER] ADD  CONSTRAINT [DF_ADM_USER_MASTER_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_USER_MASTER_APP] ADD  CONSTRAINT [DF_ADM_USER_MASTER_APP_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADM_USER_MASTER_LOG] ADD  CONSTRAINT [DF_ADM_USER_MASTER_LOG_LogDate]  DEFAULT (sysutcdatetime()) FOR [LogDate]
GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_AUTH_LOGIN]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_AUTH_LOGIN]
    @UserCode NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.AutoId AS UserId,
        u.UserCode,
        u.UserName,
        u.Email,
        u.RoleId,
        r.RoleCode,
        r.RoleName,
        u.Active,
        u.Status
    FROM dbo.ADM_USER_MASTER u
    LEFT JOIN dbo.ADM_ROLE_MASTER r
        ON r.AutoId = u.RoleId
    WHERE u.UserCode = @UserCode
      AND u.Active = 'Y'
      AND u.Status = 'APPROVED';
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_COMMON_APPROVAL_IUDS]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_COMMON_APPROVAL_IUDS]
    @QFlag NVARCHAR(20),
    @ApprovalId BIGINT = NULL,
    @MasterName NVARCHAR(150) = NULL,
    @ActionRemark NVARCHAR(1000) = NULL,
    @UserId NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @QFlag = 'FM'
    BEGIN
        SELECT DISTINCT MasterName
        FROM dbo.ADM_COMMON_APPROVAL_MASTER
        ORDER BY MasterName;
        RETURN;
    END;

    IF @QFlag = 'S'
    BEGIN
        SELECT
            ApprovalId,
            MasterName,
            AppTableName,
            AppAutoId,
            MasterAutoId,
            ActionType,
            Status,
            MakerUserId,
            MakerDate,
            ReferenceText,
            Remark,
            ActionRemark,
            CorrelationId
        FROM dbo.ADM_COMMON_APPROVAL_MASTER
        WHERE Status = 'PENDING'
          AND (@MasterName IS NULL OR MasterName = @MasterName)
        ORDER BY MakerDate DESC;
        RETURN;
    END;

    IF @QFlag IN ('A', 'R')
    BEGIN
        DECLARE @MakerUserId NVARCHAR(100);
        DECLARE @CurrentStatus NVARCHAR(40);
        DECLARE @NextStatus NVARCHAR(40) = CASE WHEN @QFlag = 'A' THEN 'APPROVED' ELSE 'REJECTED' END;

        SELECT
            @MakerUserId = MakerUserId,
            @CurrentStatus = Status
        FROM dbo.ADM_COMMON_APPROVAL_MASTER
        WHERE ApprovalId = @ApprovalId;

        IF @MakerUserId IS NULL
        BEGIN
            SELECT CAST(1 AS INT) AS Status, 'Approval record was not found.' AS Msg;
            RETURN;
        END;

        IF @CurrentStatus <> 'PENDING'
        BEGIN
            SELECT CAST(1 AS INT) AS Status, 'Only pending records can be approved or rejected.' AS Msg;
            RETURN;
        END;

        IF @MakerUserId = @UserId
        BEGIN
            SELECT CAST(1 AS INT) AS Status, 'Maker cannot approve or reject own record.' AS Msg;
            RETURN;
        END;

        IF @QFlag = 'R' AND NULLIF(LTRIM(RTRIM(ISNULL(@ActionRemark, ''))), '') IS NULL
        BEGIN
            SELECT CAST(1 AS INT) AS Status, 'Rejection remark is required.' AS Msg;
            RETURN;
        END;

        UPDATE dbo.ADM_COMMON_APPROVAL_MASTER
        SET
            Status = @NextStatus,
            CheckerUserId = @UserId,
            CheckerDate = SYSUTCDATETIME(),
            ActionRemark = @ActionRemark
        WHERE ApprovalId = @ApprovalId;

        INSERT INTO dbo.ADM_COMMON_APPROVAL_MASTER_LOG
        (
            ApprovalId,
            MasterName,
            AppTableName,
            AppAutoId,
            MasterAutoId,
            ActionType,
            Status,
            MakerUserId,
            MakerDate,
            CheckerUserId,
            CheckerDate,
            ReferenceText,
            Remark,
            ActionRemark,
            LogAction,
            LogBy,
            CorrelationId
        )
        SELECT
            ApprovalId,
            MasterName,
            AppTableName,
            AppAutoId,
            MasterAutoId,
            ActionType,
            Status,
            MakerUserId,
            MakerDate,
            CheckerUserId,
            CheckerDate,
            ReferenceText,
            Remark,
            ActionRemark,
            @NextStatus,
            @UserId,
            CorrelationId
        FROM dbo.ADM_COMMON_APPROVAL_MASTER
        WHERE ApprovalId = @ApprovalId;

        SELECT CAST(0 AS INT) AS Status, CONCAT('Record ', LOWER(@NextStatus), ' successfully.') AS Msg;
        RETURN;
    END;

    SELECT CAST(1 AS INT) AS Status, CONCAT('Unsupported qflag: ', @QFlag) AS Msg;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_GET_COMMON_APPROVAL_DATA]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_GET_COMMON_APPROVAL_DATA]
    @ApprovalId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ApprovalId,
        MasterName,
        AppTableName,
        AppAutoId,
        MasterAutoId,
        ActionType,
        Status,
        MakerUserId,
        MakerDate,
        CheckerUserId,
        CheckerDate,
        ReferenceText,
        Remark,
        ActionRemark,
        CorrelationId
    FROM dbo.ADM_COMMON_APPROVAL_MASTER
    WHERE ApprovalId = @ApprovalId;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_GET_MENU]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_GET_MENU]
    @UserCode NVARCHAR(100),
    @ModuleId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        menu.AutoId AS MenuId,
        menu.ModuleId,
        menu.ParentId,
        menu.MenuCode,
        menu.Caption,
        menu.Route,
        menu.Icon,
        menu.DisplayOrder,
        CAST(CASE
            WHEN EXISTS
            (
                SELECT 1
                FROM dbo.ADM_MENU_MASTER child
                WHERE child.ParentId = menu.AutoId
                  AND child.Active = 'Y'
                  AND child.Status = 'APPROVED'
            )
            THEN 1
            ELSE 0
        END AS BIT) AS HasChildren
    FROM dbo.ADM_USER_MASTER u
    INNER JOIN dbo.ADM_ROLE_MENU_ACCESS access
        ON access.RoleId = u.RoleId
       AND access.Active = 'Y'
       AND access.Status = 'APPROVED'
    INNER JOIN dbo.ADM_MENU_MASTER menu
        ON menu.AutoId = access.MenuId
       AND menu.Active = 'Y'
       AND menu.Status = 'APPROVED'
    WHERE u.UserCode = @UserCode
      AND u.Active = 'Y'
      AND u.Status = 'APPROVED'
      AND menu.ModuleId = @ModuleId
    ORDER BY menu.DisplayOrder, menu.Caption;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_GET_MODULE_ACCESS]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_GET_MODULE_ACCESS]
    @UserCode NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        module.AutoId AS ModuleId,
        module.ModuleCode,
        module.ModuleName,
        module.Icon,
        module.DisplayOrder
    FROM dbo.ADM_USER_MASTER u
    INNER JOIN dbo.ADM_ROLE_MENU_ACCESS access
        ON access.RoleId = u.RoleId
       AND access.Active = 'Y'
       AND access.Status = 'APPROVED'
    INNER JOIN dbo.ADM_MENU_MASTER menu
        ON menu.AutoId = access.MenuId
       AND menu.Active = 'Y'
       AND menu.Status = 'APPROVED'
    INNER JOIN dbo.ADM_MODULE_MASTER module
        ON module.AutoId = menu.ModuleId
       AND module.Active = 'Y'
       AND module.Status = 'APPROVED'
    WHERE u.UserCode = @UserCode
      AND u.Active = 'Y'
      AND u.Status = 'APPROVED'
    ORDER BY module.DisplayOrder, module.ModuleName;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_ROLE_MASTER_IUDS]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_ROLE_MASTER_IUDS]
    @ProcessName NVARCHAR(40),
    @AutoId BIGINT = NULL,
    @RoleCode NVARCHAR(100) = NULL,
    @RoleName NVARCHAR(200) = NULL,
    @Description NVARCHAR(500) = NULL,
    @Active CHAR(1) = NULL,
    @Remark NVARCHAR(1000) = NULL,
    @UserId NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @ProcessName = 'SELECT'
    BEGIN
        SELECT * FROM dbo.ADM_ROLE_MASTER_APP ORDER BY CreatedDate DESC;
        SELECT * FROM dbo.ADM_ROLE_MASTER ORDER BY CreatedDate DESC;
        RETURN;
    END;

    IF @ProcessName = 'APPROVED_RECORDS'
    BEGIN
        SELECT * FROM dbo.ADM_ROLE_MASTER ORDER BY CreatedDate DESC;
        RETURN;
    END;

    IF @ProcessName = 'DROPDOWN'
    BEGIN
        SELECT AutoId, RoleCode, RoleName
        FROM dbo.ADM_ROLE_MASTER
        WHERE Active = 'Y'
          AND Status = 'APPROVED'
        ORDER BY RoleName;
        RETURN;
    END;

    SELECT CAST(1 AS INT) AS Status, CONCAT('Unsupported process: ', @ProcessName) AS Msg;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_ADM_USER_MASTER_IUDS]    Script Date: 8/03/2026 16:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ADM_USER_MASTER_IUDS]
    @ProcessName NVARCHAR(40),
    @AutoId BIGINT = NULL,
    @UserCode NVARCHAR(100) = NULL,
    @UserName NVARCHAR(200) = NULL,
    @Email NVARCHAR(320) = NULL,
    @RoleId BIGINT = NULL,
    @Active CHAR(1) = NULL,
    @Remark NVARCHAR(1000) = NULL,
    @UserId NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @ProcessName = 'SELECT'
    BEGIN
        SELECT * FROM dbo.ADM_USER_MASTER_APP ORDER BY CreatedDate DESC;
        SELECT * FROM dbo.ADM_USER_MASTER ORDER BY CreatedDate DESC;
        RETURN;
    END;

    IF @ProcessName = 'APPROVED_RECORDS'
    BEGIN
        SELECT * FROM dbo.ADM_USER_MASTER ORDER BY CreatedDate DESC;
        RETURN;
    END;

    IF @ProcessName = 'DROPDOWN'
    BEGIN
        SELECT AutoId, UserCode, UserName
        FROM dbo.ADM_USER_MASTER
        WHERE Active = 'Y'
          AND Status = 'APPROVED'
        ORDER BY UserName;
        RETURN;
    END;

    SELECT CAST(1 AS INT) AS Status, CONCAT('Unsupported process: ', @ProcessName) AS Msg;
END;

GO
